.Body h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    color: white;
    margin-left: 50px;
    line-height: 80px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.Body p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
    margin-left: 50px;
    width: 50%;
    line-height: 35px;
    margin-bottom: 40px;
}